body{
    color: rgb(96, 169, 238);
   background-color: black;    
   font-family: Arial, Helvetica, sans-serif;
   margin: 0px;
}
header{
    border-bottom: solid 2px rgb(228, 42, 166);
    padding: 20px;
}